# Variáveis de Ambiente - NÃO COMITE NO GIT!
# Este arquivo contém informações sensíveis

# JWT Configuration
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=3600000

# Database Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/commerce_db
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

# Environment
SPRING_PROFILES_ACTIVE=dev

